<div class="media"> 
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to item.name, item %>
    </h4>
    <p>
      <%= item.details[0..100] %>
    </p>
    <small>
      <%#= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
      submitted <%= time_ago_in_words(item.created_at) %> ago 
      <% if policy(@item).edit? %>
        <%= link_to "Edit", edit_item_path(@item), class: 'btn btn-success' %>
      <% end %>
      <% if policy(@item).destroy? %>
      <%= link_to "", @item, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
      <% end %>
    </small>
  </div>
</div>
